<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/user/profile.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" /> -->
</head>
<nav>
  <!--logo-->
  <a href="#">
    <div class="logo">
      <img class="ico" src="/icons/logo.svg" />
      <h2>Mingle</h2>
    </div>
  </a>
  <!--search-->
  <div class="container">
    <input type="checkbox" id="toggle" />
    <div class="search-container">
      <input type="text" placeholder="Type here..." class="search-input" />
      <label for="toggle" class="search-icon">
        <i class="fas fa-search"></i>
      </label>
    </div>
  </div>

  <!--nav options-->
  <div class="nav-options">
    <div class="search-mini">
      <button><img src="/icons/search-ico.svg" /></button>
    </div>
    <ul>
      <li>
        <a href="/user/profile">Home</a>
      </li>

      <li>
        <button id="myButton" onclick="openPop(this.id)">Post</button>
      </li>

      <li>
        <a href="/user/chatting">Chat</a>
      </li>

      <li>
        <a href="#">Setting</a>
      </li>

      <li>
        <a href="/user/logout">Logout</a>
      </li>
    </ul>
    <% if (userMain !=null) { %>
      <button class="user" id="myprof">
        <img src="<%= userMain.profilePic%>" alt="" id="profileIcon" />
      </button>
      <% }else{ %>
        <button class="user" id="myprof">
          <img src="<%= user.profilePic%>" alt="" id="profileIcon" />
        </button>
        <%}%>
  </div>
</nav>

<body>
  <main>
    <div class="hero-section">
      <div class="profile">
        <div class="profile-img">
          <div class="bg-cover-bottom"></div>

          <div class="profile-user">
            <div class="image-wrapper" id="trial">
              <img id="displayImage" class="image" src="<%= user.profilePic%>" alt="Profile Picture" />
              <input class="image-input" type="file" name="profileImage" id="uploadImage" accept="image/*"
                style="display: none" />
              <%if(showButton !=true){%>
                <label for="uploadImage" class="overlay">
                  <div class="overlay-content">
                    <div class="icon">
                      <i class="fa fa-camera fa-2x"></i>
                    </div>
                    <div class="text">
                      Update <br />
                      Profile Photo
                    </div>
                  </div>
                </label>
                <%}%>
            </div>
            <!-- Snackbar element -->
            <div id="notification">Profile photo updated successfully!</div>
          </div>

          <p>
            <%= user.username%>
          </p>
        </div>
        <div class="follow-count">
          <a href="#">
            <h3 class="follows" id="followersCount">
              <%= user.followers.length%>
            </h3>
            <p>Followers</p>
          </a>
          <a href="#">
            <h3 class="follows">
              <%= user.followings.length%>
            </h3>
            <p>Following</p>
          </a>
        </div>
        <div class="follow-button">
          <% if(showButton) { %>
            <% if(isFollow) { %>
              <button id="followBtn" class="Btn-red" onclick="unfollowReq('<%= user.username %>')">Unfollow</button>
              <% } else { %>
                <button id="followBtn" class="Btn" onclick="followReq('<%= user.username %>')">Follow</button>
            <% } %>
          <% } else { %>
            <button id="myBtn" onclick="openPop(this.id)">Post</button>
          <% } %>
        </div>
      </div>
      <!--chats section-->
      <div class="chats">
        <!--chat 1-->
        <div class="chat" role="button">
          <div class="chat-prof">
            <img src="/icons/chat-profile1-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Tim He</h4>
            <p>Hey Tim,thank you for the message</p>
          </div>
        </div>

        <!--chat 2-->
        <div class="chat" role="button">
          <div class="chat-prof">
            <img src="/icons/chat-profile2-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Carol Lei</h4>
            <p>Hey Helen,it's nice to meet you</p>
          </div>
        </div>
        <!--chat 3-->
        <div class="chat" role="button">
          <div class="chat-prof" role="button">
            <img src="/icons/chat-profile3-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Christina Chen</h4>
            <p>I saw your article, it is really interesting</p>
          </div>
        </div>
        <!--chat 4-->
        <div class="chat" role="button">
          <div class="chat-prof">
            <img src="/icons/chat-profile4-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Carl Barenbrug</h4>
            <p>Is the job SF based or remote?</p>
          </div>
        </div>
        <!--chat 5-->

        <div class="chat" role="button">
          <div class="chat-prof">
            <img src="/icons/chat-profile5-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Gavriel Sharabi</h4>
            <p>Hey,how can I help?</p>
          </div>
        </div>

        <!--chat 6-->

        <div class="chat" role="button">
          <div class="chat-prof">
            <img src="/icons/chat-profile6-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Jesse Vermeulen</h4>
            <p>This is really good</p>
          </div>
        </div>

        <!--chat 7-->

        <div class="chat" role="button">
          <div class="chat-prof">
            <img src="/icons/chat-profile7-ico.svg" />
          </div>
          <div class="chat-name">
            <h4>Praveen Soni</h4>
            <p>I'm interested on the job you posted</p>
          </div>
        </div>
      </div>
    </div>
    <div class="post__s">
      <div class="user-post1">
        <!--post 1-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post1img.jpeg" />
        </div>
        <!--post 2-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post-2.jpeg" />
        </div>
        <!--post 3-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post-8.jpeg" />
        </div>
        <!--post 4-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post2img.jpeg" />
        </div>
      </div>
      <div class="user-post1">
        <!--post 5-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post-3.jpeg" />
        </div>
        <!--post 6-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post-7.jpeg" />
        </div>
        <!--post 7-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post3img.jpeg" />
        </div>
        <!--post 8-->
        <div class="post">
          <img  class="post-img" src="/images/user-images/post-5.jpeg" />
        </div>
      </div>
    </div>
  </main>
  <!-- <div class="popup-overlay" id="popupOverlay">
    <div class="popup" id="popup">
      <span class="close" id="closePopup" onclick="closePop(this.id)">&times;</span>
      <div class="popup-content">
        <div class="square">
          <div class="te">
            <h1 id="pic" style="display: block">Upload Picture</h1>
            <h1 id="ppic" style="display: none">Upload Profile Picture</h1>
          </div>
          <form id="uploadForm" method="POST" action="/post/profile" enctype="multipart/form-data">
            <div class="drop-zone">
              <span class="drop-zone__prompt">Drop file here</span>
              <input type="file" name="avatar" class="drop-zone__input" id="avatar" />
            </div>
            <div class="upl">
              <label for="avatar">Choose a picture:</label>
              <input type="file" id="avatar" name="avatar" />
              <br /><br />
              <button type="submit">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    var img = document.getElementById("uploadImage");
    img.addEventListener("input", function () {
      console.log(img.files[0])
      var formData = new FormData();
      formData.append('profileImage', img.files[0]);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/post/profile', true);

      xhr.onload = function () {
        if (xhr.status === 200) {
          console.log(xhr.responseText);
          alert("Profile photo updated successfully!");
        } else {
          alert("An error occurred while uploading the file.");
        }
      };

      xhr.send(formData);
    })

    // function followReq(username) {
    //   const url = `http://localhost:8000/user/${username}/follow/`;
    //   console.log('Making PUT request to:', url);

    //   $.ajax({
    //     url: url,
    //     type: 'PUT',
    //     contentType: 'application/json',
    //     data: JSON.stringify({}),
    //     success: function (response) {
    //       console.log('Success:', response);
    //     },
    //     error: function (xhr, status, error) {
    //       console.error('Error:', status, error);
    //       console.log('Response:', xhr.responseText);
    //     }
    //   });
    // }
    // async function unfollowReq(username) {
    //   const url = `http://localhost:8000/user/${username}/unfollow/`;
    //   console.log('Making PUT request to:', url);

    //   $.ajax({
    //     url: url,
    //     type: 'PUT',
    //     contentType: 'application/json',
    //     data: JSON.stringify({}),
    //     success: function (response) {
    //       console.log('Success:', response);
    //     },
    //     error: function (xhr, status, error) {
    //       console.error('Error:', status, error);
    //       console.log('Response:', xhr.responseText);
    //     }
    //   });
    // }

    function updateFollowButton(isFollowing) {
    const followBtn = document.getElementById('followBtn');
    const followersCount = document.getElementById('followersCount');
    let currentCount = parseInt(followersCount.textContent);
    if (isFollowing) {
      followBtn.textContent = 'Unfollow';
      followBtn.classList.remove('Btn');
      followBtn.classList.add('Btn-red');
      followBtn.setAttribute('onclick', `unfollowReq('<%= user.username %>')`);
      followersCount.textContent = currentCount + 1;
    } else {
      followBtn.textContent = 'Follow';
      followBtn.classList.remove('Btn-red');
      followBtn.classList.add('Btn');
      followBtn.setAttribute('onclick', `followReq('<%= user.username %>')`);
      followersCount.textContent = currentCount - 1;
    }
  }

  function followReq(username) {
    const url = `/user/${username}/follow/`;

    $.ajax({
      url: url,
      type: 'PUT',
      contentType: 'application/json',
      data: JSON.stringify({}),
      success: function(response) {
        console.log('Success:', response);
        updateFollowButton(true); // Update the button to 'Unfollow' on success
      },
      error: function(xhr, status, error) {
        console.error('Error:', status, error);
        console.log('Response:', xhr.responseText);
      }
    });
  }

  function unfollowReq(username) {
    const url = `/user/${username}/unfollow/`;

    $.ajax({
      url: url,
      type: 'PUT',
      contentType: 'application/json',
      data: JSON.stringify({}),
      success: function(response) {
        console.log('Success:', response);
        updateFollowButton(false); // Update the button to 'Follow' on success
      },
      error: function(xhr, status, error) {
        console.error('Error:', status, error);
        console.log('Response:', xhr.responseText);
      }
    });
  }
  </script>
  <script src="/js/profile.js"></script>
</body>

</html>